<div ng-app="app">
  <div ng-controller="todoController">

  <li ng-class="{strike: task.complete}" ng-click="toggleComplete(task)" ng-repeat="task in tasks track by $index">{{task.taskName}}</li>

  <input ng-model="addNewTask">
  <button ng-click="addTask(addNewTask)">Add Task</button>
  <button ng-click="showActive(task)">Active</button>
  <button ng-click="showComplete()">Complete</button>
  <button ng-click="deleteComplete()">Clear Complete</button>
  <p>Number of incomplete tasks: {{ incompleteTasks() }}</p>
  </div>

</div>